<!DOCTYPE html>
<html>
    <head>
        <title>Careworks</title>
        <meta name="description" content="This is the description">
        
        <link href="/css/styles.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header class="main-header">
            <h1 class="ngo-name ngo-name-large">Register</h1>
        </header>

        <section class="content-section container">
            <h2 class="section-header">Register as a Volunteer</h2>
            <div class="login-page">
                <div class="form">
                  <form action="registerdata" method="POST">
                    <input type="text" placeholder="name" name="name" required>
                    <input type="text" placeholder="phone" name="phone" required>
                    <input type="email" placeholder="email address" name="email" required>
                    <input type="text" placeholder="place" name="place">
                    <input type="text" placeholder="skills" name="skills">
                    <input type="text" placeholder="experience" name="experience">
                    <input type="text" placeholder="password" name="pwd" required>
                    <input type="text" placeholder="confirm password" name="conpwd" required>
                    <input id="form-submit" type="submit" value="Submit">
                    <p class="message">Already registered? <a href="/">Sign In</a></p>
                  </form>
                </div>
              </div>
        </section>

        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">Careworks</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="../Images/YouTubeLogo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="../Images/FacebookLogo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>